# Compiled source #
###################
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.sts4-cache/
.sts-cache/
local.properties
.classpath
.settings/
.loadpath
.factorypath
/src/main/resources/rebel.xml

# Logs and databases #
######################
*.log
*.sql

# Directories #
######################
target/
.idea/